/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
body {
  background-image: url('./assets/bwFlower.jpg');
  background-size: cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mod {
  width: fit-content;
  background-color: rgba(221, 88, 88, 0.63);
  border: 2px solid rgb(221, 88, 88);
  padding: 1%;
}

a {
  color: aqua;
}